{% extends 'layout.html.twig'%}

{%set pageTitle = 'Contact'%}


{% block content %}
<div class="container">
    <h1>VOUS CHERCHER A NOUS CONTACTER ?</h1>

    <h3>ADRESSE :</h3>
    <ul>
        <li>LE BOURG</li>
        <li>LA TAGNIERE, 71190</li>
    </ul>

    <h3>EMAIL :</h3>
    <ul>
        <li>cafelaforge@yahoo.com</li>
    </ul>

    <h3>HORAIRES D'OUVERTURE :</h3>
    <ul>
        <li>Du vendredi au samedi : 18h - 1h</li>
        <li>Dimanche : 11h - ?</li>
    </ul>

    <h3>NOUS TROUVER :</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d5009.967769335722!2d4.217426275672287!3d46.79042862064334!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d46.787536599999996!2d4.215406199999999!5e0!3m2!1sfr!2sfr!4v1517499153805" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>






{% endblock %}
