{% extends 'layout.html.twig'%}

{%set pageTitle = 'Contact'%}


{% block content %}
<div class="container blockContact">
<div class="row">
    <div class="contact col-xl-6 col-lg-6 col-md-6 col-sm-10 ">
        <h1><span class="ion-ios-compose-outline"></span>Contactez<span class="lightSpan">-nous !</span></h1>
        <div class="addressCase">
            <h2><span class="ion-ios-home-outline"></span> Adresse</h2>

                <span>Le Bourg la Tagniere, 71190.</span>
        </div>
        <h2> <span class="ion-ios-email-outline"></span> Email</h2>

                cafelaforge@yahoo.com


        <h2> <span class="ion-ios-clock-outline"></span> Horaires</h2>

               Du vendredi au samedi : 18h - 1h
               Dimanche : 11h - ?


</div>
<div class="mapContact col-xl-6 col-lg-6 col-md-6 col-sm-10">
    <h2><span class="ion-ios-location-outline"></span> Venez nous voir !</h2>
    <iframe class="col-12" src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d5009.967769335722!2d4.217426275672287!3d46.79042862064334!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d46.787536599999996!2d4.215406199999999!5e0!3m2!1sfr!2sfr!4v1517499153805" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
</div>






{% endblock %}
