{% extends 'layout.html.twig'%}

{%set pageTitle = 'Accueil'%}

{% block content %}
<<<<<<< HEAD
<!----------ARTICLE CENTRAL------>
<div class="titre">
    <img class="logo" src="img/logo.jpg" alt="">
    <h1>FUTURE IMPERFECT</h1>
    <p class="sousTitre">ANOTHER FINE RESPONSIVE SITE TEMPLATE BY HTML5 UP</p>
</div>
<section id="centreTotal">
    <!-------ASIDE------->
        <aside class="coter">
            <div class="galleryCoter">

                <div class="aside1">
                    <img class="imageAside"  src="img/apéro.webp" alt="">
                    <div class="texteAside">
                        <h3>VITAE SED ACCUMSAN </h3>
                        <p>OCTOBER 20, 2015</p>
                    </div>
=======
 
    
    <div class="banner container">
        <div>
            <h1>LA FORGE <br><span>Café Associatif</span></h1>

            <p class="sousTitre">"Le Café Associatif La Forge est né de la volonté des habitants de La Tagnière"</p>
    </div>
        <div class="logoCentrage">
            <img class="logo" src="img/logos.jpg" alt="logoLaForge">
        </div>
    </div>


<!----------ARTICLE CENTRAL------>
    <!-------ASIDE------->


<section id="centreTotal">
    <aside class="col-3 col">
        <div class="galleryCoter">

            <div class="aside1">
                <img class="imageAside"  src="img/soirée.webp" alt="">
                <div class="texteAside">
                    <h3>VITAE SED ACCUMSAN </h3>
                    <p>OCTOBER 20, 2015</p>
>>>>>>> dd5c66880c676d2dbd879a1a3a05e5601726f885
                </div>
            </div>

            <div class="aside1">
                <img class="imageAside" src="img/billard.webp" alt="">
                <div class="texteAside">
                    <h3>RUTRUM NEQUE ACCUMSAN</h3>
                    <p>OCTOBER 20, 2015</p>
                </div>
            </div>

            <div class="aside1">
                <img class="imageAside" src="img/exposition.webp" alt="">
                <div class="texteAside">
                    <h3>ODIO CONGUE MATTIS</h3>
                    <p>OCTOBER 20, 2015</p>
                </div>
            </div>

            <div id="asideDernier" class="aside1">
                <img class="imageAside" src="img/apéro.webp" alt="">
                <div class="texteAside">
                    <h3>ENIM NISL VEROEROS</h3>
                    <p>OCTOBER 17, 2015</p>
                </div>
            </div>
        </div>

        <div class="histoire">
            <div class="histoire">
                <h3>HISTOIRE :</h3>
            </div>

            <p>Le Café Associatif La Forge est né de la volonté des habitants de La Tagnière, de créer un lieu convivial, proposant des animations diverses et variées.
                C'est grâce à la municipalité, qui a mis à la disposition de l'association, une maison (Forge Coulon-Maison Mannevaux) que ce projet verra le jour courant été 2016.
                Dans les activités, nous organiserons :</p>
                <p>- des soirées concerts</p>
                <p>- des soirées karaoké</p>
                <p>- des après-midi jeux</p>
                <p>- un coin bibliothèque</p>
                <p>- des expositions</p>
                <p>et d'autres animations..</p>
                <p>Vous pourrez participer en devenant adhérent de l'association - 5€/ans</p>
        </div>
    </aside>
    <!-----FIN-ASIDE------>
    <div class="Total">
        <section id="articleCentre">

            <div class="articleTitre">
                <h2>MAGNA SED ADIPISCING</h2>
                <p class="article">LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
            </div>

            <div class="article1">

                <div class="imageCentre">
                    <img src="img/article1.jpg" alt="">
                </div>

                <div class="texteCentre">
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <button class="button" type="button" name="button"><strong>CONTINUE READING</strong></button>
                </div>
            </div>
        </section>

        <section id="articleCentre">

            <div class="articleTitre">
                <h2>ULTRICIES SED MAGNA EUISMOD <br /> ENIM VITAE GRAVIDA</h2>
                <p class="article">LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
            </div>

            <div class="article2">
                <div class="imageCentre">
                    <img src="img/article2.jpg" alt="">
                </div>

                <div class="texteCentre">
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <button class="button" type="button" name="button"><strong>CONTINUE READING</strong></button>
                </div>
            </div>
        </section>

        <section id="articleCentre">
            <div class="articleTitre">
                <h2>EUISMOD ET ACCUMSAN</h2>
                <p class="article">LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
            </div>

            <div class="article3">
                <div class="imageCentre">
                    <img src="img/article3.jpg" alt="">
                </div>


                <div class="texteCentre">
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <button class="button" type="button" name="button"><strong>CONTINUE READING</strong></button>
                </div>
            </div>
        </section>
    </div>
</section>


{% endblock %}
