{% extends 'layout.html.twig'%}

{%set pageTitle = 'Accueil'%}

{% block content %}
<!----------ARTICLE CENTRAL------>
<section id="centreTotal">
    <!-------ASIDE------->


        <aside class="coter">

            <div class="titre">
                <img class="logo" src="img/logo.jpg" alt="">
                <h1>FUTURE <br />IMPERFECT</h1>
                <p class="sousTitre">ANOTHER FINE RESPONSIVE SITE<br /> TEMPLATE BY HTML5 UP</p>
            </div>

            <div class="galleryCoter">

                <div class="aside1">
                    <img class="imageAside"  src="img/image1.jpg" alt="">
                    <div class="texteAside">
                        <h3>VITAE SED ACCUMSAN </h3>
                        <p>OCTOBER 20, 2015</p>
                    </div>
                </div>

                <div class="aside1">
                    <img class="imageAside" src="img/image2.jpg" alt="">
                    <div class="texteAside">
                        <h3>RUTRUM NEQUE ACCUMSAN</h3>
                        <p>OCTOBER 20, 2015</p>
                    </div>
                </div>

                <div class="aside1">
                    <img class="imageAside" src="img/image3.jpg" alt="">
                    <div class="texteAside">
                        <h3>ODIO CONGUE MATTIS</h3>
                        <p>OCTOBER 20, 2015</p>
                    </div>
                </div>

                <div id="asideDernier" class="aside1">
                    <img class="imageAside" src="img/image4.jpg" alt="">
                    <div class="texteAside">
                        <h3>ENIM NISL VEROEROS</h3>
                        <p>OCTOBER 17, 2015</p>
                    </div>
                </div>
            </div>
        </aside>
        <!-----FIN-ASIDE------>
        <div class="Total">
            <section id="articleCentre">

                <div class="articleTitre">
                    <h2>MAGNA SED ADIPISCING</h2>
                    <p class="article">LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
                </div>

                <div class="article1">

                    <div class="imageCentre">
                        <img src="img/article1.jpg" alt="">
                    </div>

                    <div class="texteCentre">
                        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                        <button class="button" type="button" name="button"><strong>CONTINUE READING</strong></button>
                    </div>
                </div>
            </section>

            <section id="articleCentre">

                <div class="articleTitre">
                    <h2>ULTRICIES SED MAGNA EUISMOD <br /> ENIM VITAE GRAVIDA</h2>
                    <p class="article">LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
                </div>

                <div class="article2">
                    <div class="imageCentre">
                        <img src="img/article2.jpg" alt="">
                    </div>

                    <div class="texteCentre">
                        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                        <button class="button" type="button" name="button"><strong>CONTINUE READING</strong></button>
                    </div>
                </div>
            </section>

            <section id="articleCentre">
                <div class="articleTitre">
                    <h2>EUISMOD ET ACCUMSAN</h2>
                    <p class="article">LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
                </div>

                <div class="article3">
                    <div class="imageCentre">
                        <img src="img/article3.jpg" alt="">
                    </div>


                    <div class="texteCentre">
                        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                        <button class="button" type="button" name="button"><strong>CONTINUE READING</strong></button>
                    </div>
                </div>
            </section>

    </div>
</section>

{% endblock %}
