{% extends 'layout.html.twig'%}

{%set pageTitle = 'Inscription'%}


{% block content %}

<div class=" inscription">
    <form method="POST" id="registerForm" class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-sm-8 offset-sm-2">
    <h1 class="ion-ios-personadd-outline"> Inscription </h1>
    <div class="form-row">
        <div class="form-group col-sm-6 col-6">
            <label for="inputCity">Nom</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group col-sm-5 offset-sm-1 col-6">
        <label for="inputZip">Prénom</label>
        <input type="text" class="form-control" id="firstname" name="firstname">
        </div>

    </div>
        <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Exemple@exemple.fr">
        </div>

        <div class="form-group">
            <label for="inputPassword4">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Veuillez choisir un mot de passe">
        </div>

        <div class="form-group">
            <label for="inputPassword4">Vérification du mot de passe</label>
            <input type="password" class="form-control" id="passwordVerif" name="passwordVerif">
        </div>


        <div class="form-group">
            <label for="inputAddress">Addresse</label>
            <input type="text" class="form-control" id="addressLine" name="addressLine" placeholder="12 rue saint jack">
        </div>

        <div class="form-row">
            <div class="form-group col-sm-8 col-12 ">
                <label for="inputCity">Ville</label>
                <input type="text" class="form-control" id="addressCity" name="addressCity">
            </div>

            <div class="form-group col-sm-3 offset-sm-1 col-12">
            <label for="inputZip">Code Postal</label>
            <input type="text" class="form-control" id="addressPostalCode" name="addressPostalCode">
            </div>

        </div>


        <button type="submit" class="btn col-4 offset-4">Valider</button>
    </form>
</div>

{% endblock %}
