
.overlay{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}

#overlayLoader img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.overlayMessage{
    position: absolute;
    border-radius: 20px;
    width: 50%;
    height: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.overlayMessage p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#overlayButton{
    position: absolute;
    background-color: #fff !important;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
}
#overlayButton:hover{
    background-color: #A8A0A4 !important;
}
