/* color palette 
-fff4E2
-E8d4bd
-ffebdd
-e8cbbd footer
-ffdad0
*/
html{
    position: relative;
    min-height:100%;
    
}
*{
    margin: 0;
}
body{
    background-color:#ffebdd;
    padding-top: 70px;
    margin-bottom: 60px;

    
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navbar-brand{
    font-size: 20px;
    color:red;
}
/*----------header--------*/
.headertext h1{
    text-align: center;
}
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
   
}
#nav{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
     background-color: #e8d4bd !important;
    box-shadow: 0 8px 6px -6px black;
 }

.nav-link{
    transition: all 0.1s ease-in;
}
.nav-link:hover{
    transform: scale(1.02);
    color: #a53535 !important;
}
.banner{
    padding-top: 80px;
    width: auto;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom : 20px;
    display: flex;
}
/*----css formulaire connexion et inscription*/

#registerForm h1, .connectForm h1{
    text-align: center;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif !important;
    font-size:2.2em;
    
}
.ion-ios-world{
    margin-right:10px;
}


.connectForm, #registerForm{
    margin-top:35px;
    display: block !important;
    border: 1px solid rgba(129, 129, 129, 0.71);
    box-shadow: 0 8px 6px -6px black;
    padding: 20px;
    border-radius: 4px;
    background-color: #e8cbbd;
}
 /* -------- */

/*page contact*/

.blockContact{
    margin-top:25px;
    padding: 10px;
    border:1px solid rgba(129, 129, 129, 0.71);
    box-shadow: 0 8px 6px -6px black;
    background-color: rgba(232, 203, 189, 0.78);
    border-radius: 4px;
}
.contact h2{
    font-size: 2.0em;
    font-style:italic; 
}
.contact h1{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bolder!important;
    font-size:2.2em;
}
.addressCase{
    padding-top: 25px
}
.lightSpan{
    font-weight: 100 !important;
}
.contact{
    margin-top: 15px;  
}
.ion-ios-home-outline, .ion-ios-email-outline, .ion-ios-clock-outline, .ion-ios-location-outline{
    font-size: 25px !important;
}
.ion-ios-compose-outline{
    border: 1px solid black;
    border-radius:50%;
    padding-left:10px; 
    padding-right:8px; 
    margin-left: 10px;
    margin-right: 10px;
}
.mapContact{
    padding-top: 20px;
    border-left: 1px dotted black;
}
.mapContact h2{
    font-size: 2.0em;
    font-style:italic; 
}
@media (max-width: 768px){
    .mapContact{
        padding-top: 20px;
        border-left: none;
    }
}


/*--------*/

.connexion{
    width: 100%;
}
.btn{
    border: 1px solid #033c36;
    transition: all 0.2s ease;
}

.btn:hover{
    transform: scale(1.1);
}

h1{
    font-family: 'Indie Flower' !important;
    font-size: 3em;
    font-weight: 600;
}
.slogan{
    font-family: 'Indie Flower' ;
    font-style : italic;
    font-weight:200;
    font-size: 50px;
    text-align: center;
}
p{
    color: #434843;
    font-size: 20px;
    font-style : italic;
}
/*--------ASIDE----------*/
.logo{
    max-width: 50%;
    max-width: 50%;
    border-radius: 50%;
    margin-top: 1em;
    transition: all 0.5s;
}
.logoCentrage{
    text-align: center;
    width: 45%;
}
.sousTitre{
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}


/*---------ShearchBar------------*/


.tt-menu{
    background-color: red;
    width: 100%;
    border-radius:5px;
    border: 1px solid black;
    margin-top:8px;
    padding:5px;
    box-shadow: 0 8px 6px -6px black;
    background-color: #eae1d8 !important;
}
.tt-selectable{
    cursor: pointer;
}
/*--------CENTRE ARTICLE---------*/

.centreTotal{
    border: 1px solid #767474;
    border-radius:4px;
    background-color: #E8d4bd;
    width: 95%;
    margin: auto;
    box-shadow: 0 8px 6px -6px #939393;
}

.imgArticle{
    width: 100%;
    box-shadow: 0 8px 6px -6px #939393;
    border: 1px solid black;
    border-radius: 4px;
    
}
.article{
    margin-top: 30px;
    margin-bottom: 20px;
    border:1px solid #767474;
    box-shadow: 0 8px 6px -6px #939393;
    border-radius:4px;
}
.articleTitle {
    margin-top:10px  !important;
    margin-bottom: 20px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.texteCentre{
    width: 90%;
    margin: auto;
    margin-top: 30px ;
    margin-bottom: 20px;
}
.button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffff;
    margin-top: 40px;
}
.ion-ios-play-outline{
    padding-right: 5px;
}

/*block de droite*/

.aside1{
    width: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    
    background-color: white;
    border: 1px solid #48352f;
    border-radius:4px;
}

.imageAside{
    margin: auto;
    width: 100%;
    
    
}
.rightBlock{
    border: 1px solid #767474;
    box-shadow: 0 8px 6px -6px #939393;
    margin-top: 25px;
    margin-bottom: 25px;
    border:1px solid #767474
    border-radius:4px;
}

.texteAside{
    width: 90%;
    margin: auto;
   
}
.galleryCoter{
    border-bottom: 1px solid #727472;
    box-shadow: 0 8px 6px -6px #939393;
}
.abstract{ 
    text-align: center;
    margin-top: 25px;
    padding:5px;
    
}
.abstract p{
    font-size: 18px;
    padding: 5px;
    line-height: normal;
}
.abstractTitle{
    text-align: center;
}
.abstractTitle h3{
    font-size: 35px;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 600;
}

/*Espace membre*/

.blockMember{
    border: 1px solid rgba(129, 129, 129, 0.71);
    box-shadow: 0 8px 6px -6px black;
    padding: 20px;
    border-radius: 4px;
    background-color: #e8cbbd;
    margin-top: 35px;
    
}
.blockMember h1{
    font-family: 'Roboto', sans-serif !important;
    margin-top: 25px;
    font-size:2.2em;
    text-align: center;
}

/*-----apres click article --------*/
#openArticle{
    width: 75%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
}
#imgOpen{
    width: 70%;
    display: block;
    margin: auto;
}
.OpenArticleTitre{
    text-align: center;
    padding-top: 10px;
}
.openArticleTexte{
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
.OpenArticleButton{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
/*------------FOOTER------------*/

footer{
  
    width: 100%;
    background-color:#e8cbbd;
    text-align: center;
    position : absolute;
    bottom:0;
    
}

